img {
  height: 200px;
  width: 150px;
}
.picturediv {
  width: 100%;
  background-color: white;
}
body {
  background-color: beige;
}
h1 {
  font-family: fantasy;
}
p {
  font-weight: bold;
  font-style: italic;
  font-size: 120%;
}
